@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>





  
    <div class="carosel-box">
 

    
    <div class="cell">
        <img src="https://th.bing.com/th/id/OIP.4LylgNwtQcX8HXCoPjo6BAHaEv?w=278&h=180&c=7&r=0&o=5&pid=1.7" />
    </div>
    <div class="cell">
        <img src="https://th.bing.com/th/id/OIP.4LylgNwtQcX8HXCoPjo6BAHaEv?w=278&h=180&c=7&r=0&o=5&pid=1.7" />
    </div>
    <div class="cell">
        <img src="https://th.bing.com/th/id/OIP.4LylgNwtQcX8HXCoPjo6BAHaEv?w=278&h=180&c=7&r=0&o=5&pid=1.7" />
    </div>

</div>
    <button class="navigate-cabins-button"> < </button>
    <button class="navigate-cabins-button"> > </button>
  



<div class="calender-day-container">

    @for (int i = 0; i < 32; i++)
    {

        <div class="calender-day-cell" onclick="calendarCellClicked(this)">
          <p>Dagens datum</p>
        </div>

              

    }
 </div>

<button class="booking-button"> Bekräfta bokning </button>